 <footer>
      <div class="container">

       <div id="footer-links">
       		<a href="<%= url('/terms-and-conditions') %>">terms and conditions</a>
       </div>

       <div id="copywrite">
       		&copy; <%= Time.now.year %> Bruno Paz
       </div>
      </div>
    </footer>