<!DOCTYPE HTML>
 <html>
 <head>
 	<meta charset="UTF-8">
 	<title>Instgrm Downloader</title>
    <meta name="description" content="Batch Download instagram photos from any public instagram user or friend">
  </head>
  <body>
  	<%= yield %>
 </body>
 </html>