
<h3>Terms and Conditions</h3>

<ul id="terms-and-conditions">
	<li>
	 	This application is not sponsored or connected to Instagram in any way. It just relies in the <a href="http://instagram.com/developer/">Instagram official API</a> to get its contents. 
	</li>

	<li>
		By using this application, you are accepting the Instagram <a href="http://instagram.com/legal/terms/">terms of use.</a> 
	</li>


	<li>
		I built this application mostly for personal use and for learning a new programming language. 
		I am not responsible in any way for your actions using this application.
	</li>

	<li>
		According to instagram terms of use, Instagram doesn't own User Content - Instagram users do, so make sure you have the owner´s consent to  download any of their content using this application.
	</li>

	<li>
		For getting yours and your friends media, the application needs to connect to your Instagram account. Your instagram password is not saved in any way.
	</li>
	<li>
		When downloading your photos, a zip file with your selection is created on the fly for you to download.Its not saved in any way in the server.
	</li>
</ul>
