<% content_for :stylesheets do %>
	<link rel="stylesheet" href="<%= url('/js/fancybox/jquery.fancybox.css') %>" type="text/css" media="screen" />
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src="<%= url('/js/fancybox/jquery.fancybox.pack.js') %>"></script>
	
	<script>
		$(function(){
	   		$(".fancybox").fancybox();
		});
	</script>
<% end %>

<h3>user feed</h3>

<% unless @media.empty? %>
  	
  	<%= erb :_user_feed_actions_bar %>

	<div id="media-container" class="clearfix">
	 	<%= erb :_user_feed_items %>
	</div>

<% else %>
 	<div class="no-results">no results found</div>
<% end %>
