/*!
 * Main css file for the application
 * @author Bruno Paz <brunopaz@sapo.pt>
 */


 /*
 * Body styles
 */

html,
body {
  height: 100%;  /* The html and body elements cannot have any padding or margin. */
}

body{

}

/*
 * Page containers
 */

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -80px;   /* Negative indent footer by its height */
  padding: 0 0 80px;   /* Pad bottom by footer height */
}

.container{
	width: 980px;
}

#main-content{

}


/*
 * Typography
 */

h1{
	font-size: 48px;
	font-weight: bold;
	color: #0c6383;
	margin-bottom: 5px;
}

h2{
	font-size: 20px;
	color: #8d969a;
	margin-top: 0px;
}

h3{
	font-size: 22px;
	font-weight: bold;
	color: #0c6383;
	margin-bottom: 20px;
}

h4{
	color: #8d969a;
}



a:hover{
	color: #8d969a;
	text-decoration: none;
}


/*
 * Helpers
 */

.left{
	float: left;
}

.right{
	float: right;
}

.hidden{
	display: none;
}

.text-center{
	text-align: center;
}

.center{
	margin: 0 auto;
}
/*
 * Header
 */

header{
	padding-top: 15px;
	margin-bottom: 30px;
}

header #ig-logo{
	background: url('../images/ig_logo.png') no-repeat;
	float: left;
	width: 100px;
	height: 100px;
	margin: 10px 25px 0px 0px;
}

/*
 * Content
 */

#ig-connect{
	margin: 50px auto;
}

#ig-connect h4{
	text-align: center;
	margin-bottom: 20px;
}
#btn-ig-connect{
	width: 350px;
	display: block;
	margin: 0 auto;
}

/*
 * user search
 */

#user-search{
	width: 505px;
	margin: 50px auto;
}

#user-search-form{
	margin: 0 auto 15px auto;
}

#user-search-form .form-control{
	width: 400px;
}

#user-search-form input[type="button"]{
	width: 100px;
}

#user-search-result-header{
	font-size: 13px;
	color: #8d969a;
	margin-bottom: 20px;
}

#user-search-result .user{
	border-bottom: 1px solid #8d969a;
	margin-bottom: 10px;
	padding-bottom: 15px;
}

#user-search-result .user-profile-pic{
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 20px;
}

#user-search-result .user-profile-data{
	 float: left;
}

#user-search-result .user-profile-data .fullname{
	font-size: 20px;
	font-weight: bold;
	color: #0c6383;
	margin-top: 15px;
}

#user-search-result .user-profile-data .username{
	font-size: 13px;
	font-weight: bold;
	color: #8d969a;
}


#user-search .no-results{
	font-size: 12px;
	text-align: center;
}

/*
 * terms and conditions
 */

 ul#terms-and-conditions li{
 	margin-bottom: 15px;

 }

/*
 * Footer
 */
footer {
  height: 80px;
  background-color: #0c6383;
  color: #FFF;
  padding-top: 20px;
}

footer a{
	color: #FFF;
}

footer #footer-links{
	text-align: center;
	font-size: 14px;
	margin-bottom: 5px;
}

footer #copywrite{
	text-align: center;
	font-size: 11px;
}


/*
 * others
 */

 .loader{
 	background: url('../images/ajax-loader.gif') no-repeat;
 	width: 45px;
 	height: 45px;
 	display: none;
 }